<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform
                  stdoutLogEnabled="false" stdoutLogFile="fsi.log" startupTimeLimit="20"
                  processPath="fsi.exe"
                  arguments="%HOME%\site\wwwroot\site\webserver.fsx %HTTP_PLATFORM_PORT%" >
            <environmentVariables>
              <environmentVariable name="WhateverYouLike" value="GoesHere"/>
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
